{% extends "base.html" %}
{% load static %}


{% block page_title %}Admin{% endblock %}


{% block page_styles %}
    <style>
        div.row {
            margin-top: 0.5em;
        }

        .category {
            min-height: 4em;
        }

        button.question {
            margin-bottom: 0.5em;
            width: 100%;
        }

        #question-context {
            display: none;
        }

        #buzzed {
            color: blue;
            font-weight: bold;
        }

        img.reconnecting {
            height: 1em;
        }

        #status {
            display: none;
        }
    </style>
{% endblock %}


{% block page_content %}
    <div class="container">
        <div class="row" id="status">
            <div class="col">
                <div class="alert" role="alert"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-danger" id="reset">Reset</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-info" id="scoreboard">Scoreboard</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary" id="pop-test">Pop Test</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-info" id="previous-round">Previous Round</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-info" id="next-round">Next Round</button>
            </div>
        </div>
        <hr/>
        <div class="row" id="question-context">
            <div class="col">
                <div class="row" id="question-details">
                    <div class="col">
                        <span id="question-points"></span>
                    </div>
                    <div class="col">
                        <span id="question-text"></span>
                    </div>
                    <div class="col">
                        <span id="question-answer"></span>
                    </div>
                </div>
                <div class="row" id="answer-controls">
                    <div class="col">
                        <button type="button" class="btn btn-info" id="back">Back</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-warning" id="skip">Skip</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-success needs-buzz" id="correct" disabled>Correct</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-danger needs-buzz" id="wrong" disabled>Wrong</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-secondary needs-buzz" id="clear-buzz" disabled>Clear</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Buzzed: <span id="buzzed"></span>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            {% for category, questions in categories %}
                <div class="col">
                    <div class="category">
                        <p>{{ category.title }}</p>
                    </div>
                    {% for question in questions %}
                        <button type="button" class="btn btn-primary question" id="question-{{ question.id }}">
                            {{ question.point_value }}
                        </button>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block page_scripts %}
    <script type="text/javascript">

        var msg_types = {
            ERROR: 0,
            ADMIN_CONNECTED: 10,
            DISPLAY_CONNECTED: 11,
            PLAYER_CONNECTED: 12,
            GAME_RESET: 21,
            CHANGE_ROUND: 22,
            POP_QUESTION: 30,
            CLEAR_QUESTION: 31,
            PLAYER_BUZZED: 40,
            CLEAR_BUZZ: 41,
            UPDATE_SCORE: 50,
            PLAY_SOUND: 60,
            TOGGLE_SCOREBOARD: 70,
        };

        var question_data = {
            pop_test: {
                text: "In this classic game show, the answers are given first, and the contestants supply the questions.",
                answer: "Jeopardy!",
                points: 0,
                answered: false,
            },
            {% for category, questions in categories %}
                {% for question in questions %}
                    {{ question.id }}: {
                        text: `{{ question.text|safe }}`,
                        answer: `{{ question.answer|safe }}`,
                        points: {{ question.point_value }},
                        answered: {{ question.answered|yesno:"true,false" }},
                    },
                {% endfor %}
            {% endfor %}
        };

        var player_data = {
            {% for player in players %}
                {{ player.id }}: {
                    name: "{{ player.name }}",
                    score: {{ player.score }},
                },
            {% endfor %}
        };

        var ws = null;
        var question_id = null;
        var question = null;
        var buzzing_player = null;

        function player_buzzed(id, name, no_sound=false) {
            buzzing_player = id;
            $("#buzzed").text(name);
            $("#answer-controls .needs-buzz").attr("disabled", false);
            if (!no_sound) {
                send_message(msg_types.PLAY_SOUND, {
                    sound: "buzz",
                });
            }
        }

        function clear_buzzed(no_message=false) {
            $("#buzzed").text("");
            $("#answer-controls .needs-buzz").attr("disabled", true);
            if (!no_message) {
                send_message(msg_types.CLEAR_BUZZ);
            }
            buzzing_player = null;
        }

        function pop_question(id=null, no_message=false) {
            if (id) {
                question_id = id;
                question = question_data[id];
            }
            $("#question-points").text(question.points);
            $("#question-text").text(question.text);
            $("#question-answer").text(question.answer);
            $("#question-context").show();
            if (!no_message) {
                send_message(msg_types.POP_QUESTION, {
                    question_id: parseInt(question_id) || question_id,
                    question_text: question.text,
                });
            }
        }

        function clear_question(answered=false, no_message=false) {
            if (question_id == "pop_test") {
                answered = false;
            }
            clear_buzzed(true);
            $("#question-context").hide();
            if (!no_message) {
                send_message(msg_types.CLEAR_QUESTION, {
                    question_id: question_id,
                    answered: answered,
                });
            }
            if (answered) {
                disable_question(question_id);
                question_data[question_id].answered = true;
            }
            question = null;
            question_id = null;
        }

        function disable_question(id) {
            $("#question-" + id)
                .addClass("btn-secondary")
                .removeClass("btn-primary")
                .attr("disabled", true);
        }

        function enable_question(id) {
            $("#question-" + id)
                .addClass("btn-primary")
                .removeClass("btn-secondary")
                .attr("disabled", false);
        }

        function add_to_score(player_id, amount)
        {
            player_data[player_id].score += amount
            send_message(msg_types.UPDATE_SCORE, {
                player_id: player_id,
                score: player_data[player_id].score,
            });
        }

        function show_alert(html, alert_class="danger") {
            $("#status .alert")
                .html(html)
                .removeClass(function (index, classes) {
                    return (classes.match(/(^|\s)alert-\S+/g) || []).join(' ');
                })
                .addClass("alert-" + alert_class);
            $("#status").show();
        }

        function clear_alert() {
            $("#status").hide();
        }

        function parse_message(msg) {
            switch (msg.type) {
                case msg_types.ERROR:
                    console.error("Received error from middleware:", msg.error);
                    return;
                case msg_types.ADMIN_CONNECTED:
                    break;
                case msg_types.PLAYER_CONNECTED:
                    if (!(msg.player_id in player_data)) {
                        player_data[msg.player_id] = {
                            name: msg.player_name,
                            score: msg.score,
                        };
                    }
                    break;
                case msg_types.GAME_RESET:
                case msg_types.CHANGE_ROUND:
                    location.reload();
                    break;
                case msg_types.POP_QUESTION:
                    pop_question(msg.question_id, true);
                    break;
                case msg_types.PLAYER_BUZZED:
                    player_buzzed(msg.player_id, msg.player_name, msg.no_sound);
                    break;
                default:
                    console.error("Unhandled msg.type:", msg.type);
                    return;
            }
        }

        function send_message(type, data={}) {
            Object.assign(data, {
                type: type,
                game_key: "{{ game.key }}",
            });
            if (!ws || ws.readyState != WebSocket.OPEN) {
                console.error("Could not send msg, websocket closed:", data);
                return;
            }
            ws.send(JSON.stringify(data));
        }

        function connect(uri) {
            ws = new WebSocket(uri);
            ws.onopen = function (event) {
                send_message(msg_types.ADMIN_CONNECTED);
                clear_alert();
            };
            ws.onmessage = function (event) {
                var data = JSON.parse(event.data);
                parse_message(data);
            };
            ws.onclose = function () {
                show_alert("Reconnecting.. <img class='reconnecting' src='{% static 'trebek/reconnecting.svg' %}'/>");
                clear_question(false, true);
                // The reconnection attempt will happen when the next check_connection interval fires.
            }
        }

        function check_connection() {
            if (!ws || ws.readyState == WebSocket.CLOSED) {
                connect("{{ ws_uri }}");
            }
        }

        $(".question").on("click", function () {
            pop_question($(this).attr("id").split("-")[1]);
        });

        $("#correct").on("click", function () {
            add_to_score(buzzing_player, question.points);
            clear_question(true);
        });

        $("#wrong").on("click", function () {
            add_to_score(buzzing_player, -question.points);
            clear_buzzed(true);
            pop_question();
        });

        $("#clear-buzz").on("click", function () {
            clear_buzzed(true);
            pop_question();
        });

        $("#back").on("click", function () {
            clear_question();
        });

        $("#skip").on("click", function () {
            send_message(msg_types.PLAY_SOUND, {
                sound: "time",
            });
            clear_question(true);
        });

        $("#reset").on("click", function () {
            send_message(msg_types.GAME_RESET);
        });

        $("#scoreboard").on("click", function () {
            send_message(msg_types.TOGGLE_SCOREBOARD);
        });

        $("#pop-test").on("click", function () {
            pop_question("pop_test");
        });

        $("#previous-round").on("click", function () {
            send_message(msg_types.CHANGE_ROUND, {
                round: {{ game.current_round }} - 1,
            });
        });

        $("#next-round").on("click", function () {
            send_message(msg_types.CHANGE_ROUND, {
                round: {{ game.current_round }} + 1,
            });
        });

        // Disable all the answered questions.
        $.each(question_data, function (id, data) {
            if (data.answered) {
                disable_question(id);
            }
        });

        // Open the initial websocket connection.
        show_alert("Connecting.. <img class='reconnecting' src='{% static 'trebek/reconnecting.svg' %}'/>", "warning");
        check_connection();
        // Set up a timer to keep reconnecting on disconnect.
        setInterval(check_connection, 5000);
    </script>
{% endblock %}
