{% extends "base.html" %}


{% block page_title %}Trebek{% endblock %}


{% block page_styles %}
    <style>
        .container {
            margin-left: 20vw;
        }

        #buttons {
            margin-top: 15vh;
        }

        #buzzer {
            width: 50vw;
            font-size: 200%;
        }
    </style>
{% endblock %}


{% block page_content %}
    <div class="container">
        <div class="row" id="buttons">
            <div class="col-md">
                <button type="button" id="buzzer" class="btn btn-secondary btn-lg" id="buzzer" disabled="true">Buzz</button>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_scripts %}
    <script type="text/javascript">

        function parse_message(msg) {
            if (msg.type == "can_buzz") {
                $("#buzzer")
                    .addClass("btn-primary")
                    .removeClass("btn-secondary")
                    .attr("disabled", false);
            }
            else if (msg.type == "cant_buzz") {
                $("#buzzer")
                    .addClass("btn-secondary")
                    .removeClass("btn-primary")
                    .attr("disabled", true);
            }
        }

        $("#buzzer").on("click", function () {
            ws.send(JSON.stringify({
                type: "buzz",
                game: "{{ game.key }}",
                player_id: "{{ player.id }}",
                player_name: "{{ player.name }}",
            }));
        });

        ws = new WebSocket("{{ ws_uri }}");
        ws.onopen = function (event) {
            ws.send(JSON.stringify({
                type: "register_player",
                game: "{{ game.key }}",
                id: "{{ player.id }}",
                name: "{{ player.name }}",
            }));
        };
        ws.onmessage = function (event) {
            var data = JSON.parse(event.data);
            parse_message(data);
        };
    </script>
{% endblock %}
