{% extends "base.html" %}
{% load static %}


{% block page_title %}Display{% endblock %}


{% block page_styles %}
    <style>
        body {
            background: black;
            color: #fcfbf6;
        }

        h1 {
            margin-top: 10vh;
            font-size: 400%;
            text-align: center;
        }

        h2 {
            margin-top: 0.5em;
            font-size: 400%;
            text-align: center;
        }

        #player-list {
            margin-top: 7vh;
        }

        #player-list > .col {
            margin-left: 1em;
        }

        .player {
            margin-top: 0.3em;
            padding-left: 0.4em;

            background: #6d2d00;
            color: #ffe386;
            font-size: 250%;
            text-shadow: 0.08em 0.08em black;
        }

        #status {
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 30;
            margin: 0 1.5em;
            padding: 1em 0.2em;
        }

        img.reconnecting {
            height: 1em;
        }

        img.turkey-left {
            height: 7em;
            position: absolute;
            right: 0;
        }

        img.turkey-right {
            height: 7em;
            position: absolute;
            left: 0;
        }
    </style>
{% endblock %}


{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Hutcheson Thanksgiving Jeopardy</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>{{ host_url }}/trivia</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img class="turkey-left" src="{% static 'trebek/turkey-left.gif' %}"/>
            </div>
            <div class="col-md-6">
                <h2>Game Key: {{ game.key }}</h2>
            </div>
            <div class="col-md-3">
                <img class="turkey-right" src="{% static 'trebek/turkey-right.gif' %}"/>
            </div>
        </div>
        <div id="player-list" class="row">
            <div class="col">
                <div id="player-0" class="player row"></div>
                <div id="player-1" class="player row"></div>
                <div id="player-2" class="player row"></div>
                <div id="player-3" class="player row"></div>
                <div id="player-4" class="player row"></div>
            </div>
            <div class="col">
                <div id="player-5" class="player row"></div>
                <div id="player-6" class="player row"></div>
                <div id="player-7" class="player row"></div>
                <div id="player-8" class="player row"></div>
                <div id="player-9" class="player row"></div>
            </div>
        </div>
    </div>
    <div id="status">
        <div class="alert" role="alert"></div>
    </div>
{% endblock %}


{% block page_scripts %}
    <script type="text/javascript">

        var msg_types = {
            ERROR: 0,
            PING: 1,
            ADMIN_CONNECTED: 10,
            DISPLAY_CONNECTED: 11,
            PLAYER_CONNECTED: 12,
            GAME_RESET: 21,
            CHANGE_ROUND: 22,
            POP_QUESTION: 30,
            CLEAR_QUESTION: 31,
            PLAYER_BUZZED: 40,
            CLEAR_BUZZ: 41,
            CLEAR_ALL_BUZZES: 42,
            UPDATE_SCORE: 50,
            PLAY_SOUND: 60,
            TOGGLE_SCOREBOARD: 70,
        };

        var sounds = {
            connect: {
                path: "{% static 'trebek/sounds/connect.ogg' %}",
                volume: 1,
            },
        };

        var ws = null;
        var player_data = {};
        var player_count = 0;

        function preload_sounds() {
            $.each(sounds, function (index, sound) {
                if (sound.path) {
                    sound.audio = new Audio(sound.path);
                    sound.audio.volume = sound.volume;
                }
            });
        }

        function play_sound(sound_name) {
            var sound = sounds[sound_name];
            if (!sound || sound.disabled) {
                return;
            }
            var audio = sound.audio;
            if (!audio) {
                return;
            }
            audio.currentTime = 0;
            audio.play();
        }

        function trim_name(name, max_length=14) {
            return name.slice(0, max_length - 1) + (name.length > max_length ? "..." : "");
        }

        function add_player(id, name) {
            play_sound("connect");
            if (player_data[id]) {
                return;
            }
            if (player_count >= 10) {
                return;
            }
            $("#player-" + player_count).text(trim_name(name));
            player_count++;
            player_data[id] = {name: name};
        }

        function show_alert(html, alert_class="danger") {
            $("#status .alert")
                .html(html)
                .removeClass(function (index, classes) {
                    return (classes.match(/(^|\s)alert-\S+/g) || []).join(' ');
                })
                .addClass("alert-" + alert_class);
            $("#status").show();
        }

        function clear_alert() {
            $("#status").hide();
        }

        function parse_message(msg) {
            switch (msg.type) {
                case msg_types.ERROR:
                    console.error("Received error from middleware:", msg.error);
                    return;
                case msg_types.PLAYER_CONNECTED:
                    add_player(msg.player_id, msg.player_name);
                    break;
                case msg_types.GAME_RESET:
                case msg_types.CHANGE_ROUND:
                    location.reload();
                    break;
                case msg_types.PLAY_SOUND:
                    play_sound(msg.sound);
                    break;
                default:
                    console.error("Unhandled msg.type:", msg.type);
                    return;
            }
        }

        function send_message(type, data={}) {
            Object.assign(data, {
                type: type,
                game_key: "{{ game.key }}",
            });
            if (!ws || ws.readyState != WebSocket.OPEN) {
                console.error("Could not send msg, websocket closed:", data);
                return;
            }
            ws.send(JSON.stringify(data));
        }

        function connect(uri) {
            ws = new WebSocket(uri);
            ws.onopen = function (event) {
                send_message(msg_types.DISPLAY_CONNECTED);
                clear_alert();
            };
            ws.onmessage = function (event) {
                var data = JSON.parse(event.data);
                parse_message(data);
            };
            ws.onclose = function () {
                show_alert("Reconnecting.. <img class='reconnecting' src='{% static 'trebek/reconnecting.svg' %}'/>");
                // The reconnection attempt will happen when the next check_connection interval fires.
            }
        }

        function check_connection() {
            if (!ws || ws.readyState == WebSocket.CLOSED) {
                connect("{{ ws_uri }}");
            }
        }

        preload_sounds();
        // Open the initial websocket connection.
        show_alert("Connecting.. <img class='reconnecting' src='{% static 'trebek/reconnecting.svg' %}'/>", "warning");
        check_connection();
        // Set up a timer to keep reconnecting on disconnect.
        setInterval(check_connection, 5000);
    </script>
{% endblock %}
