{% extends "base.html" %}
{% load static %}


{% block page_title %}Display{% endblock %}


{% block page_styles %}
    <style>
        body {
            background: black;
        }

        #scoreboard {
            display: none;
            padding-top: 25vh;
        }

        #scoreboard > .row > .col {
            margin-left: 1em;
        }

        .score-entry {
            margin-top: 0.3em;

            background: #3f48cc;
            color: white;
            font-size: 350%;
            text-shadow: 0.08em 0.08em black;
        }

        .score-points {
            min-width: 3em;
            text-align: right;
        }

        .score-name {
            margin-left: 0.3em;
        }

        #status {
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 30;
            margin: 0 1.5em;
            padding: 1em 0.2em;
        }

        .category, .question {
            position: relative;
            width: 100%;
            padding-bottom: 75%;

            background: #3f48cc;
            text-transform: uppercase;
            text-align: center;
            text-shadow: 0.08em 0.08em black;
        }

        .category > p, .question > p {
            position: absolute;
            width: 100%;
            height: 100%;
            margin-top: 20%;
        }

        .category {
            margin-top: 10px;
            margin-bottom: 30px;

            color: white;
            font-size: 125%;
        }

        .question {
            margin-bottom: 10px;

            color: #ffc90e;
            font-size: 250%;
        }

        .question-popup {
            position: absolute;
            z-index: 9;
            padding: 1em 0.6em;

            background: #3f48cc;
            color: white;
            font-size: 60%;
            text-transform: uppercase;
            text-align: center;
            text-shadow: 0.08em 0.08em black;

            transition: 1.5s;
            -webkit-transition: 1.5s;
        }

        .question-popup > p {
            width: 100%;
            padding: 1em;
        }

        .question-popup-fs {
            width: 100vw !important;
            height: 100vh !important;
            top: 0 !important;
            left: 0 !important;
            font-size: 500%;
        }

        img.reconnecting {
            height: 1em;
        }
    </style>
{% endblock %}


{% block page_content %}
    <div id="gameboard" class="container">
        <div class="row">
            {% for category, questions in categories %}
                <div class="col">
                    <div class="category">
                        <p>{{ category.title }}</p>
                    </div>
                    {% for question in questions %}
                        <div class="question" id="question-{{ question.id }}">
                            <p>{% if not question.answered %}{{ question.point_value }}{% endif %}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="scoreboard" class="container">
        <div class="row">
            <div class="col">
                <div id="score-0" class="score-entry row"><span class="score-points"></span><span class="score-name"></span></div>
                <div id="score-1" class="score-entry row"><span class="score-points"></span><span class="score-name"></span></div>
                <div id="score-2" class="score-entry row"><span class="score-points"></span><span class="score-name"></span></div>
                <div id="score-3" class="score-entry row"><span class="score-points"></span><span class="score-name"></span></div>
                <div id="score-4" class="score-entry row"><span class="score-points"></span><span class="score-name"></span></div>
            </div>
            <div class="col">
                <div id="score-5" class="score-entry row"><span class="score-points"></span><span class="score-name"></span></div>
                <div id="score-6" class="score-entry row"><span class="score-points"></span><span class="score-name"></span></div>
                <div id="score-7" class="score-entry row"><span class="score-points"></span><span class="score-name"></span></div>
                <div id="score-8" class="score-entry row"><span class="score-points"></span><span class="score-name"></span></div>
                <div id="score-9" class="score-entry row"><span class="score-points"></span><span class="score-name"></span></div>
            </div>
        </div>
    </div>
    <div id="status">
        <div class="alert" role="alert"></div>
    </div>
{% endblock %}


{% block page_scripts %}
    <script type="text/javascript">

        var msg_types = {
            ERROR: 0,
            PING: 1,
            ADMIN_CONNECTED: 10,
            DISPLAY_CONNECTED: 11,
            PLAYER_CONNECTED: 12,
            GAME_RESET: 21,
            CHANGE_ROUND: 22,
            POP_QUESTION: 30,
            CLEAR_QUESTION: 31,
            PLAYER_BUZZED: 40,
            CLEAR_BUZZ: 41,
            CLEAR_ALL_BUZZES: 42,
            UPDATE_SCORE: 50,
            PLAY_SOUND: 60,
            TOGGLE_SCOREBOARD: 70,
        };

        var sounds = {
            buzz: {
                path: "{% static 'trebek/sounds/buzz.ogg' %}",
                volume: 0.5,
            },
            time: {
                path: null,
                volume: 1,
            },
        };

        var player_data = {
            {% for player in players %}
                {{ player.id }}: {
                    name: "{{ player.name }}",
                    score: {{ player.score }},
                },
            {% endfor %}
        };

        var ws = null;
        var game_started = false;
        var question_id = null;

        function preload_sounds() {
            $.each(sounds, function (index, sound) {
                if (sound.path) {
                    sound.audio = new Audio(sound.path);
                    sound.audio.volume = sound.volume;
                }
            });
        }

        function play_sound(sound_name) {
            var sound = sounds[sound_name];
            if (!sound || sound.disabled) {
                return;
            }
            var audio = sound.audio;
            if (!audio) {
                return;
            }
            audio.currentTime = 0;
            audio.play();
        }

        function pop_question(id, text) {
            if (id == question_id) {
                return;
            }
            clear_question();
            question_id = id;
            var question_box = $("#question-" + question_id);
            if (!question_box[0]) {
                // Not a question we know about, just use the first box as an anchor.
                question_box = $(".question:first");
            }
            var popup = $("<div class='question-popup'></div>").appendTo($("body"));
            // TODO: DON'T PUT RAW HTML IN HERE, USE A MARKUP RENDERER TO ALLOW TAGS SAFELY
            var popup_text = $("<p> "+ text + "</p>").appendTo(popup);
            //var popup_text = $("<p></p>").appendTo(popup);
            //popup_text.text(text);
            popup.width(question_box.width());
            popup.height(question_box.outerHeight());
            popup.css(question_box.offset());
            setTimeout(function() {
                popup.addClass("question-popup-fs");
            }, 200);
        }

        function clear_question(answered = false) {
            if (answered) {
                disable_question(question_id);
            }
            var popup = $(".question-popup-fs");
            if (popup[0]) {
                popup.removeClass("question-popup-fs");
                setTimeout(function() {
                    popup.remove();
                }, 1400);
            }
            question = null;
            question_id = null;
        }

        function disable_question(id) {
            $("#question-" + id).children("p").text("");
        }

        function set_score(player_id, value) {
            player_data[player_id].score = value;
            refresh_scoreboard();
        }

        function trim_name(name, max_length=14) {
            return name.slice(0, max_length - 1) + (name.length > max_length ? "..." : "");
        }

        function refresh_scoreboard() {
            var sorted_players = [];
            $.each(player_data, function (index, player) {
                sorted_players.push(player);
            });
            sorted_players.sort(function (a, b) {
                return (b.score || 0) - (a.score || 0);
            });
            $.each(sorted_players, function (index, player) {
                if (index >= 10) {
                    return;
                }
                $("#score-" + index + " .score-points").text(player.score || 0);
                $("#score-" + index + " .score-name").text(trim_name(player.name));
            });
            var empty = Math.max(0, 10 - sorted_players.length);
            for (var index = 10 - empty; index < 10; index++)
            {
                $("#score-" + index + " .score-points").text("");
                $("#score-" + index + " .score-name").text("");
            }
        }

        function toggle_scoreboard() {
            var scoreboard = $("#scoreboard");
            if (scoreboard.is(":hidden")) {
                $("#gameboard").hide();
                scoreboard.show();
            }
            else {
                scoreboard.hide();
                $("#gameboard").show();
            }
        }

        function show_alert(html, alert_class="danger") {
            $("#status .alert")
                .html(html)
                .removeClass(function (index, classes) {
                    return (classes.match(/(^|\s)alert-\S+/g) || []).join(' ');
                })
                .addClass("alert-" + alert_class);
            $("#status").show();
        }

        function clear_alert() {
            $("#status").hide();
        }

        function parse_message(msg) {
            switch (msg.type) {
                case msg_types.ERROR:
                    console.error("Received error from middleware:", msg.error);
                    return;
                case msg_types.GAME_RESET:
                case msg_types.CHANGE_ROUND:
                    location.reload();
                    break;
                case msg_types.POP_QUESTION:
                    pop_question(msg.question_id, msg.question_text);
                    break;
                case msg_types.CLEAR_QUESTION:
                    clear_question(msg.answered);
                    break;
                case msg_types.PLAYER_BUZZED:
                    break;
                case msg_types.UPDATE_SCORE:
                    set_score(msg.player_id, msg.score);
                    break;
                case msg_types.PLAY_SOUND:
                    play_sound(msg.sound);
                    break;
                case msg_types.TOGGLE_SCOREBOARD:
                    toggle_scoreboard();
                    break;
                default:
                    console.error("Unhandled msg.type:", msg.type);
                    return;
            }
        }

        function send_message(type, data={}) {
            Object.assign(data, {
                type: type,
                game_key: "{{ game.key }}",
            });
            if (!ws || ws.readyState != WebSocket.OPEN) {
                console.error("Could not send msg, websocket closed:", data);
                return;
            }
            ws.send(JSON.stringify(data));
        }

        function connect(uri) {
            ws = new WebSocket(uri);
            ws.onopen = function (event) {
                send_message(msg_types.DISPLAY_CONNECTED);
                clear_alert();
            };
            ws.onmessage = function (event) {
                var data = JSON.parse(event.data);
                parse_message(data);
            };
            ws.onclose = function () {
                show_alert("Reconnecting.. <img class='reconnecting' src='{% static 'trebek/reconnecting.svg' %}'/>");
                // The reconnection attempt will happen when the next check_connection interval fires.
            }
        }

        function check_connection() {
            if (!ws || ws.readyState == WebSocket.CLOSED) {
                connect("{{ ws_uri }}");
            }
        }

        preload_sounds();
        refresh_scoreboard();
        // Open the initial websocket connection.
        show_alert("Connecting.. <img class='reconnecting' src='{% static 'trebek/reconnecting.svg' %}'/>", "warning");
        check_connection();
        // Set up a timer to keep reconnecting on disconnect.
        setInterval(check_connection, 5000);
    </script>
{% endblock %}
