{% extends "base.html" %}
{% load static %}


{% block page_title %}Display{% endblock %}


{% block page_styles %}
    <style>
        body {
            background: black;
        }

        #scoreboard {
            display: none;
            position: absolute;
            z-index: 10;
            padding: 1em 0.6em;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;

            background: #3f48cc;
            color: white;
            font-size: 500%;
            text-transform: uppercase;
            text-align: center;
            text-shadow: 0.08em 0.08em black;
        }

        #status {
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 30;
            margin: 0 1.5em;
            padding: 1em 0.2em;
        }

        .category, .question {
            position: relative;
            width: 100%;
            padding-bottom: 75%;

            background: #3f48cc;
            text-transform: uppercase;
            text-align: center;
            text-shadow: 0.08em 0.08em black;
        }

        .category > p, .question > p {
            position: absolute;
            width: 100%;
            height: 100%;
            margin-top: 20%;
        }

        .category {
            margin-top: 10px;
            margin-bottom: 30px;

            color: white;
            font-size: 125%;
        }

        .question {
            margin-bottom: 10px;

            color: #ffc90e;
            font-size: 250%;
        }

        .question-popup {
            position: absolute;
            z-index: 9;
            padding: 1em 0.6em;

            background: #3f48cc;
            color: white;
            font-size: 60%;
            text-transform: uppercase;
            text-align: center;
            text-shadow: 0.08em 0.08em black;

            transition: 1.5s;
            -webkit-transition: 1.5s;
        }

        .question-popup > p {
            width: 100%;
            padding: 1em;
        }

        .question-popup-fs {
            width: 100vw !important;
            height: 100vh !important;
            top: 0 !important;
            left: 0 !important;
            font-size: 500%;
        }

        img.reconnecting {
            height: 1em;
        }
    </style>
{% endblock %}


{% block page_content %}
    <div class="container">
        <div class="row">
            {% for category, questions in categories %}
                <div class="col">
                    <div class="category">
                        <p>{{ category.title }}</p>
                    </div>
                    {% for question in questions %}
                        <div class="question" id="question-{{ question.id }}">
                            <p>{% if not question.answered %}{{ question.point_value }}{% endif %}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="scoreboard"></div>
    <div id="status">
        <div class="alert" role="alert"></div>
    </div>
{% endblock %}


{% block page_scripts %}
    <script type="text/javascript">

        var msg_types = {
            ERROR: 0,
            ADMIN_CONNECTED: 1,
            DISPLAY_CONNECTED: 2,
            PLAYER_CONNECTED: 3,
            GAME_START: 4,
            GAME_RESET: 5,
            POP_QUESTION: 6,
            CLEAR_QUESTION: 7,
            PLAYER_BUZZED: 8,
            CLEAR_BUZZ: 9,
            UPDATE_SCORE: 10,
            PLAY_SOUND: 11,
            TOGGLE_SCOREBOARD: 12,
        };

        var sounds = {
            buzz: new Audio("{% static 'trebek/sounds/buzz.ogg' %}"),
            time: null,
        };

        var player_data = {
            {% for player in players %}
                {{ player.id }}: {
                    name: "{{ player.name }}",
                    score: {{ player.score }},
                },
            {% endfor %}
        };

        var ws = null;
        var game_started = false;
        var question_id = null;

        function play_sound(sound) {
            var snd = sounds[sound];
            if (!snd) {
                return;
            }
            snd.currentTime = 0;
            snd.play();
        }

        function pop_question(id, text) {
            if (id == question_id) {
                return;
            }
            clear_question();
            question_id = id;
            var question_box = $("#question-" + question_id);
            if (!question_box[0]) {
                // Not a question we know about, just use the first box as an anchor.
                question_box = $(".question:first");
            }
            var popup = $("<div class='question-popup'></div>").appendTo($("body"));
            var popup_text = $("<p></p>").appendTo(popup);
            popup_text.text(text);
            popup.width(question_box.width());
            popup.height(question_box.outerHeight());
            popup.css(question_box.offset());
            setTimeout(function() {
                popup.addClass("question-popup-fs");
            }, 200);
        }

        function clear_question(answered = false) {
            if (answered) {
                disable_question(question_id);
            }
            var popup = $(".question-popup-fs");
            if (popup[0]) {
                popup.removeClass("question-popup-fs");
                setTimeout(function() {
                    popup.remove();
                }, 1400);
            }
            question = null;
            question_id = null;
        }

        function disable_question(id) {
            $("#question-" + id).children("p").text("");
        }

        function set_score(player_id, value) {
            player_data[player_id].score = value;
            refresh_scoreboard();
        }

        function refresh_scoreboard() {
            var was_hidden = $("#scoreboard").is(":hidden");
            $("#scoreboard").remove();
            var sorted_players = [];
            $.each(player_data, function (index, player) {
                sorted_players.push(player);
            });
            sorted_players.sort(function (a, b) {
                return b.score - a.score;
            });
            var scoreboard = $("<div id='scoreboard'></div>").appendTo($("body"));
            var score_list = $("<ol></ol>").appendTo(scoreboard);
            $.each(sorted_players, function (index, player) {
                var player_entry = $("<li></li>").appendTo(score_list);
                player_entry.text(player.score + " - " + player.name)
            });
            if (!was_hidden) {
                scoreboard.show();
            }
        }

        function toggle_scoreboard() {
            var scoreboard = $("#scoreboard");
            if (scoreboard.is(":hidden")) {
                scoreboard.show();
            }
            else {
                scoreboard.hide();
            }
        }

        function show_alert(html, alert_class="danger") {
            $("#status .alert")
                .html(html)
                .removeClass(function (index, classes) {
                    return (classes.match(/(^|\s)alert-\S+/g) || []).join(' ');
                })
                .addClass("alert-" + alert_class);
            $("#status").show();
        }

        function clear_alert() {
            $("#status").hide();
        }

        function parse_message(msg) {
            switch (msg.type) {
                case msg_types.ERROR:
                    console.error("Received error from middleware:", msg.error);
                    return;
                case msg_types.GAME_START:
                    // We wouldn't be on this page if the game wasn't started, just ignore it.
                    break;
                case msg_types.GAME_RESET:
                    // We don't track much state, so just reload the page.
                    location.reload();
                    break;
                case msg_types.POP_QUESTION:
                    pop_question(msg.question_id, msg.question_text);
                    break;
                case msg_types.CLEAR_QUESTION:
                    clear_question(msg.answered);
                    break;
                case msg_types.PLAYER_BUZZED:
                    break;
                case msg_types.UPDATE_SCORE:
                    set_score(msg.player_id, msg.score);
                    break;
                case msg_types.PLAY_SOUND:
                    play_sound(msg.sound);
                    break;
                case msg_types.TOGGLE_SCOREBOARD:
                    toggle_scoreboard();
                    break;
                default:
                    console.error("Unhandled msg.type:", msg.type);
                    return;
            }
        }

        function send_message(type, data={}) {
            Object.assign(data, {
                type: type,
                game_key: "{{ game.key }}",
            });
            if (!ws || ws.readyState != WebSocket.OPEN) {
                console.error("Could not send msg, websocket closed:", data);
                return;
            }
            ws.send(JSON.stringify(data));
        }

        function connect(uri) {
            ws = new WebSocket(uri);
            ws.onopen = function (event) {
                send_message(msg_types.DISPLAY_CONNECTED);
                clear_alert();
            };
            ws.onmessage = function (event) {
                var data = JSON.parse(event.data);
                parse_message(data);
            };
            ws.onclose = function () {
                show_alert("Reconnecting.. <img class='reconnecting' src='{% static 'trebek/reconnecting.svg' %}'/>");
                // The reconnection attempt will happen when the next check_connection interval fires.
            }
        }

        function check_connection() {
            if (!ws || ws.readyState == WebSocket.CLOSED) {
                connect("{{ ws_uri }}");
            }
        }

        refresh_scoreboard();
        // Open the initial websocket connection.
        show_alert("Connecting.. <img class='reconnecting' src='{% static 'trebek/reconnecting.svg' %}'/>", "warning");
        check_connection();
        // Set up a timer to keep reconnecting on disconnect.
        setInterval(check_connection, 5000);
    </script>
{% endblock %}
