{% extends "base.html" %}
{% load static %}


{% block page_title %}Display{% endblock %}


{% block page_styles %}
    <style>
        body {
            background: #020000;
        }

        .category, .question {
            position: relative;
            width: 100%;
            padding-bottom: 75%;

            text-transform: uppercase;
            text-align: center;
            text-shadow: 0.08em 0.08em black;
        }

        .category > p, .question > p {
            position: absolute;
            width: 100%;
            height: 100%;
            margin-top: 20%;
        }

        .category {
            margin-top: 10px;
            margin-bottom: 30px;

            background: #7d5120;
            color: #fcfbf6;
            font-size: 125%;
        }

        .question {
            margin-bottom: 10px;

            background: #6d2d00;
            color: #ffe386;
            font-size: 250%;
        }

        .question-popup {
            position: absolute;
            z-index: 999;
            padding: 1em 0.6em;

            background: #6d2d00;
            color: #fcfbf6;
            font-size: 60%;
            text-transform: uppercase;
            text-align: center;
            text-shadow: 0.08em 0.08em black;

            transition: 1.5s;
            -webkit-transition: 1.5s;
        }

        .question-popup > p {
            width: 100%;
            padding: 1em;
        }

        .question-popup-fs {
            width: 100vw !important;
            height: 100vh !important;
            top: 0 !important;
            left: 0 !important;
            font-size: 500%;
        }
    </style>
{% endblock %}


{% block page_content %}
    <div class="container">
        <div class="row">
            {% for category, questions in categories %}
                <div class="col">
                    <div class="category">
                        <p>{{ category.title }}</p>
                    </div>
                    {% for question in questions %}
                        <div class="question" id="question-{{ question.id }}">
                            <p>{% if not question.answered %}{{ question.point_value }}{% endif %}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <input type="hidden" id="question-id" val="" />
    </div>
{% endblock %}


{% block page_scripts %}
    <script type="text/javascript">

        var msg_types = {
            ERROR: 0,
            ADMIN_CONNECTED: 1,
            DISPLAY_CONNECTED: 2,
            PLAYER_CONNECTED: 3,
            GAME_START: 4,
            GAME_RESET: 5,
            POP_QUESTION: 6,
            CLEAR_QUESTION: 7,
            PLAYER_BUZZED: 8,
            CLEAR_BUZZ: 9,
            UPDATE_SCORE: 10,
            PLAY_SOUND: 11,
        };

        var sounds = {
            buzz: new Audio("{% static 'trebek/sounds/gobble.ogg' %}"),
        };

        var ws = null;
        var game_started = false;
        var question_id = null;

        function play_sound(sound) {
            var snd = sounds[sound];
            snd.currentTime = 0;
            snd.play();
        }

        function pop_question(id, text) {
            if (id == question_id) {
                return;
            }
            clear_question();
            question_id = id;
            var question_box = $("#question-" + question_id);
            var popup = $("<div class='question-popup'></div>").appendTo($("body"));
            popup.width(question_box.width());
            popup.height(question_box.outerHeight());
            popup.css(question_box.offset());
            var popup_text = $("<p></p>").appendTo(popup);
            popup_text.text(text);
            setTimeout(function() {
                popup.addClass("question-popup-fs");
            }, 200);
        }

        function clear_question(answered = false) {
            if (answered) {
                disable_question(question_id);
            }
            var popup = $(".question-popup-fs");
            if (popup[0]) {
                popup.removeClass("question-popup-fs");
                setTimeout(function() {
                    popup.remove();
                }, 1400);
            }
            question = null;
            question_id = null;
        }

        function disable_question(id) {
            $("#question-" + id).children("p").text("");
        }

        function set_score(player_id, amount)
        {

        }

        function show_alert(html, alert_class="danger") {
            if (true) return;
            $("#status .alert")
                .html(html)
                .removeClass("alert-primary alert-secondary alert-success alert-danger alert-warning alert-info")
                .addClass("alert-" + alert_class);
            $("#status").show();
        }

        function clear_alert() {
            if (true) return;
            $("#status").hide();
        }

        function parse_message(msg) {
            switch (msg.type) {
                case msg_types.ERROR:
                    console.error("Received error from middleware:", msg.error);
                    return;
                case msg_types.GAME_START:
                    break;
                case msg_types.GAME_RESET:
                    break;
                case msg_types.POP_QUESTION:
                    pop_question(msg.question_id, msg.question_text);
                    break;
                case msg_types.CLEAR_QUESTION:
                    clear_question(msg.answered);
                    break;
                case msg_types.PLAYER_BUZZED:
                    break;
                case msg_types.UPDATE_SCORE:
                    set_score(msg.player_id, msg.value);
                    break;
                case msg_types.PLAY_SOUND:
                    play_sound(msg.sound);
                    break;
                default:
                    console.error("Unhandled msg.type:", msg.type);
                    return;
            }
        }

        function send_message(type, data={}) {
            Object.assign(data, {
                type: type,
                game_key: "{{ game.key }}",
            });
            if (!ws || ws.readyState != WebSocket.OPEN) {
                console.error("Could not send msg, websocket closed:", data);
                return;
            }
            ws.send(JSON.stringify(data));
        }

        function connect(uri) {
            ws = new WebSocket(uri);
            ws.onopen = function (event) {
                send_message(msg_types.DISPLAY_CONNECTED);
                clear_alert();
            };
            ws.onmessage = function (event) {
                var data = JSON.parse(event.data);
                parse_message(data);
            };
            ws.onclose = function () {
                show_alert("Reconnecting.. <img class='reconnecting' src='{% static 'trebek/reconnecting.svg' %}'/>");
                // The reconnection attempt will happen when the next check_connection interval fires.
            }
        }

        function check_connection() {
            if (!ws || ws.readyState == WebSocket.CLOSED) {
                connect("{{ ws_uri }}");
            }
        }

        // Open the initial websocket connection.
        show_alert("Connecting.. <img class='reconnecting' src='{% static 'trebek/reconnecting.svg' %}'/>", "warning");
        check_connection();
        // Set up a timer to keep reconnecting on disconnect.
        setInterval(check_connection, 5000);
    </script>
{% endblock %}
